<!-- formulaire pour créer un post -->
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Blog Content
        style
            include ../public/css/style.css
        .form
          if (postToBeUpdated)
            form( method='post' action='/posts/add')
              label Blog title:
              input#title( type='text' name='titre' value=postToBeUpdated.titre required='')
              label Auteur:
              input#title(type='text' name='auteur' value=postToBeUpdated.auteur required)
              label Resume:
              input#title(type='text' name='resume' value=postToBeUpdated.resume required='')
              label Blog Content:
              textarea#body(type='text' name='content' required='') #{postToBeUpdated.content}
            
              input(type='submit' name='sub')
          else
            form( method='post' action='/posts/add')
              label Blog title:
              input#title( type='text' name='titre' required='')
              label Auteur:
              input#title(type='text' name='auteur'  required)
              label Resume:
              input#title(type='text' name='resume'  required='')
              label Blog Content:
              textarea#body(type='text' name='content'  required='')
              input(type='submit' name='sub')

