<!-- Detail d'un post -->
          
doctype html
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Blog Content
    style
        include ../public/css/style.css
    
nav.navbar
  .logo Blog
  a.toggle-button(href='#')
    span.bar
    span.bar
    span.bar
  .navbar-links
    ul
      li
        a(href='post/add') Add Post
body
    section
    .feed
        h2.title  #{post.titre}
        i  Published on: #{post.createdAt}
       
        p
        |  #{post.content}
    
    //- script 
    //-     include ../public/js/script.j